/* * Generic styles */

body
{
	background-color: #EEE;
}

.main-container
{
	background-color: #FFF;
	margin: auto;
	padding-bottom: 2rem;
	max-width: 75%;
	min-height: 100vh;
}

@media (max-width: 1024px)
{
	.main-container
	{
		margin: 0;
		max-width: initial;
	}
}

.large-scroll
{
	max-height: 64rem;
	overflow: auto;
}

.card-img-top
{
	object-fit: cover;
	height: 200px;
}

.list-img
{
	object-fit: cover;
	height: 200px;
	width: 100%;
	align-content: center;
}

.main-carousel > .carousel-indicators > button
{
	border: 1px solid #555;
	border-radius: 3px;
	background-color: #EEE;
}

.main-carousel
{
	height: 500px;
	border: 1px solid #DDD;
	background-color: #EEE;
}

.main-carousel-img
{
	object-fit: contain;
	height: 500px;
	width: 100%;
	align-content: center;
}

.main-card-line
{
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.spacer
{
	margin: 2rem 0;
}

.presentation
{
	margin: 4em 0;
}

.navbar
{
	position: sticky;
	top: 0;
	z-index: 3; /* carousels have a z index of 1, indicators have a z index of 2 */
}

.center
{
	margin: auto;
	width: fit-content;
}

.anchor
{
	display: block;
	position: relative;
	top: -5rem;
	visibility: hidden;
}

/* * Login page styles */

.login-card
{
	margin: auto;
	width: 30em;
	padding: 1em;
}

@media (max-width: 768px)
{
	.login-card
	{
		width: 100%;
	}
}

.login-message
{
	font-weight: 500;
}

/* * Admin page styles */

.editor-card
{
	margin: auto;
	padding: 1em;
}

.editor-box
{
	padding: 0.5em;
	border: var(--bs-border-width) solid var(--bs-border-color);
	border-radius: var(--bs-border-radius);
}

.editor-scroll
{
	max-height: 32rem;
	overflow: auto;
}

.editor-progress
{
	margin-top: 1em;
}

@media (min-width: 768px)
{
	.fit-md
	{
		display: inline-block;
		width: fit-content;
	}
}