/* * Generic styles */

body
{
	background-color: #EEE;
}

.main-container
{
	background-color: #FFF;
	margin: auto;
	max-width: 75%;
	min-height: 100vh;
}

@media (max-width: 1024px)
{
	.main-container
	{
		margin: 0;
		max-width: initial;
	}
}

hr
{
	margin: 2rem 0;
}

.presentation
{
	margin: 4em 0;
}

.navbar
{
	position: sticky;
	top: 0;
	z-index: 2; /* fsr carousels have a z index of 1 */
}

/* * Login page styles */

.login-card
{
	margin: auto;
	width: 30em;
	padding: 1em;
}

.login-message
{
	font-weight: 500;
}

/* * Admin page styles */

.editor-card
{
	margin: auto;
	padding: 1em;
}