/* * Generic styles */

body
{
	background-color: #EEE;
}

.main-container
{
	background-color: #FFF;
	margin: auto;
	max-width: 75%;
	min-height: 100vh;
}

@media (max-width: 1024px)
{
	.main-container
	{
		margin: 0;
		max-width: initial;
	}
}

.card-img-top
{
	object-fit: cover;
	height: 200px;
}

.main-card-line
{
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.spacer
{
	margin: 2rem 0;
}

.presentation
{
	margin: 4em 0;
}

.navbar
{
	position: sticky;
	top: 0;
	z-index: 2; /* fsr carousels have a z index of 1 */
}

.anchor
{
	display: block;
	position: relative;
	top: -5rem;
	visibility: hidden;
}

/* * Login page styles */

.login-card
{
	margin: auto;
	width: 30em;
	padding: 1em;
}

.login-message
{
	font-weight: 500;
}

/* * Admin page styles */

.editor-card
{
	margin: auto;
	padding: 1em;
}

.editor-box
{
	padding: 0.5em;
	border: var(--bs-border-width) solid var(--bs-border-color);
	border-radius: var(--bs-border-radius);
}

.editor-progress
{
	margin-top: 1em;
}